<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5808d06a88.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/css/verEspaciosParqueadero.css">
    <title>Ver espacios</title>
</head>
<body>
    <header class="header">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo" class="log">
        <nav class="nav">
            <ul class="menu-horizontal">
                <li>
                    <a class="item-nav" href="#">Formulario</a>
                    <ul class="menu-vertical">
                        <li><a href="form.html">Llenar Formulario</a></li>
                        <li><a href="">Revisar Formulario</a></li>
                    </ul>
                </li>
                <li><a class="item-nav" href="reportes.html">Reportes</a></li>
                <li>
                    <a class="item-nav" href="">Parqueadero</a>
                    <ul class="menu-vertical">
                        <li><a href="">Asignar Espacio</a></li>
                        <li><a href="verEspaciosParqueadero.html">Ver espacios</a></li>
                        <li><a href="">Generar strikes</a></li>
                    </ul>
                </li>
                <li>
                    <a class="item-nav" href="#">Ver perfil</a>
                    <ul class="menu-vertical">
                        <li><a href="">Ver QR</a></li>
                        <li><a href="realizar-reserva.html">Hacer Reserva</a></li>
                        <li><a href="">Mis vehiculos</a></li>
                        <li><a href="registrarUsuarios.html">Registrar Usuarios</a></li>
                        <li><a href="">Strikes</a></li>
                        <li><a href="ver-factura.html">Mis Facturas</a></li>
                        <li><a href="">Historial</a></li>
                        <li><a href="">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="info-see-space">
            <h1>Ver espacios</h1>
            <div class="content-btn-parking">
                <button class="btn-parking">Añadir parqueadero</button>
                <button class="btn-parking">Definir parqueadero</button>
            </div>
        </section>
        <section class="parking-container" id="">
            <div class="items-see-space1">
                <div class="items-see" id="parking-container-car">
                    
                </div>
                <div class="items-see" id="parking-container-motorbike">

                </div>
            </div>
            <div class="items-see-space2" id="parking-container-bicycle">

            </div>
        </section>
    </main>



    <footer class="footer">
        <img src="../../public/assets/img/logo-parkeaTec.svg" alt="logo ">
    </footer>
    <script src="../../public/assets/js/verEspaciosParqueadero.js"></script>
</body>
</html>