.header,
.footer {
    background-color: #0F1626;
}

.img{
    width: 400px;
    height: 400px;
}

.linkItem,
.cerrarSesion,
.linkItemLogin {
    text-decoration: none;
    color: #fff;
}

.cerrarSesion,
.linkItemLogin {
    color: #000;
}

:global(.dropdown-menu.show) {
  margin-top: 8px !important;
}
