.main {
    height: calc(100vh - 100px);
}

.report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 87%;
    height: 80%;
    background-color: #fff;
}

.nav-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8%;
    height: 100%;
    background-color: #DEF3FF;
    background-color: #0F1626;
}

.item-nav-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 100;
    color: #000;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 20%;
}

.item-nav-report i {
    color: #000;
}

.text-report {
    margin: 0;
    color: #000;
}

.span {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20%;
    background-color: #def3ff;
    transition: .3s linear;
}

.icon-active {
    color: #000;
}

.icon-inactive {
    color: #fff;
}

.section-info {
    display: none;
}

.active {
    display: block;
}

.mov-40 {
    top: 40%
}

.mov-60 {
    top: 60%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 85%;
    height: 100%;
}

.calendar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 20px;
    gap: 20px;
    width: 30%;
    height: 35px;
    height: auto;
}

.calendar-input {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

.calendar-input:focus {
    outline: none;
}

#seccion1,
#seccion2,
#seccion3 {
    width: 100%;
}

/* .content-report {
    display: flex;
} */

/* .section-report {
    width: 50%;
    height: 70%;
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 10px;
} */

.section-report-modific {
    margin-right: 20px;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chart_div {
    display: flex;
    align-items: center;
    height: 300px;
}

.content-report,
.content-ocupation,
.content-ingresos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
}

.section-report,
.section-ocupation,
.section-ingresos {
    width: 48%;
    height: 100%;
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.section-ocupation-modific,
.section-ingresos-modific {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
}
.table th {
    background-color: #f4f4f4;
    color: #333;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table tr:hover {
    background-color: #f1f1f1;
}