body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Estilos de la cabecera*/

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;   
    background-color: #0F1626;
}

.nav {
    display: flex;
    margin-right: 30px;
}

.item-nav {
    margin-right: 20px;
    padding: 11px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px 0 10px 0;
    transition: .7s;
}

.item-nav:hover {
    background-color: #fff;
    color: #000;
    border-radius: 0 10px 0 10px;
}

/*Estilo de la seccion*/
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #DEF3FF;
}




.footer {
    justify-content: flex-end;
}