.section-bill {
    height: calc(100vh - 100px);
}

.bill-content {
    position: relative;
    margin: 50px 0;
    padding: 30px; 
    width: 40%;
    height: auto;
    background-color: #fff;
    border: 1px solid #0F1626;
}

.line-bill {
    position: absolute;
    top: -20px;
    left: -10px;
    display: flex;
    align-items: center;
    width: 45%;
    height: 60px;
    background-color: #0F1626;
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0 100%);
    /* border-radius: 0 40px 40px 0; */
    /* text-decoration: underline; */
    color: #fff;
}

.title-bill {
    margin: 0 0 0 20px;
    color: #fff;
}

.item-bill {
    display: flex;
    align-items: center;
    align-items: baseline;
    /* justify-content: center; */
    margin-top: 20px;
}

.title-item-bill,
.text-item-bill {
    margin: 0;
}

.title-item-bill {
    margin-right: 15px;
}

.text-item-bill {
    font-size: 18px;
}