.booking {
    position: relative;
}
/*Estilos de la notificacion*/
.toast {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px #0000001a;
    border-left: 6px solid #ACFFB7;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active-error {
    border-left: 6px solid red;
}

.toast.active {
    transform: translateX(0%);
}

.toast.active-error {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #ACFFB7;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.check.active-check {
    display: none;
}


.toast-content .error-icon {
    display: none;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #FF4448;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.error-icon.active-error-icon {
    display: flex;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: #666666; 
}

.message .text-1 {
    font-weight: 600;
    color: #0F1626;
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer; 
    opacity: .7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #ACFFB7;
}

.toast .progress.active-error:before {
    background-color: red;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

.progress.active-error:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

.section {
    height: calc(100vh - 100px - 100px );
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 400px;
    background-color: #ffffff;
    transition: .3s linear;
}

.form:hover {
    box-shadow: 3px 3px 6px #858383b1
}

.title-main {
    position: relative;
    margin: 0;
    font-size: 2rem;
}

.title-main:hover {
    z-index: -1;
}

.content-form {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-top: 10px;
}

.content-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}


.input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 15px;
    padding: 5px 0 5px 15px;
    font-size: 18px
}

.label {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .3s;
}

.input:focus ~ .label {
    top: 0;
    left: 15px;
    background-color: #fff;
    padding: 0 5px;
    color: #0F1626;
    background-color: #ACFFB7;
}

.input:focus {
    border: 1px solid #ACFFB7;
}


.input.active-input:valid ~ .label {
    top: 0;
    left: 15px;
    background-color: #ACFFB7;
    padding: 0 5px;
}

.input-error {
    display: none;
}

.content-btn-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.btn-booking {
    width: 55%;
    height: 38px;
    padding: 10px;
    background-color: #ACFFB7;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid  #ACFFB7;
    font-weight: bold;
    transition: .3s linear;
    box-sizing: border-box;
}

.btn-booking:hover {
    
    /* box-shadow: 3px 3px 2px #00000052; */
    border: 1px solid #000;
}