.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 80px - 72px);
}

.card {
    width: '100%';
    max-width: '800px';
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;   
}

.card img {
    transition: transform 0.5s linear;
}

.card:hover img {
    transform: scale(1.03);
}
