.booking {
    position: relative;
}

.section {
    height: calc(100vh - 100px - 100px );
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 400px;
    background-color: #ffffff;
    transition: .3s linear;
}

.form:hover {
    box-shadow: 3px 3px 6px #858383b1
}

.title-main {
    position: relative;
    margin: 0;
    font-size: 2rem;
}

.content-form {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-top: 10px;
}

.content-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px
}

.label {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .3s;
}

.input:focus ~ .label {
    top: 0;
    left: 15px;
    background-color: #fff;
    padding: 0 5px;
    color: #0F1626;
    background-color: #ACFFB7;
}

.input:focus {
    border: 1px solid #ACFFB7;
}

.input.active-input:valid ~ .label {
    top: 0;
    left: 15px;
    background-color: #ACFFB7;
    padding: 0 5px;
}

.input-error {
    display: none;
}

.content-btn-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.btn-booking {
    width: 55%;
    height: 38px;
    padding: 10px;
    background-color: #ACFFB7;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid  #ACFFB7;
    font-weight: bold;
    transition: .3s linear;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-booking:hover {
    
    /* box-shadow: 3px 3px 2px #00000052; */
    border: 1px solid #000;
}

.btn-booking a {
    color: #000;
    text-decoration: none;
}


  
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { body {
      background-color: lightblue;
    }}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { body {
      background-color: rgb(230, 184, 173);
    }}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { body {
      background-color: rgb(132, 133, 77);
    }}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { body {
      background-color: rgb(117, 30, 110);
    }}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { body {
      background-color: rgb(133, 177, 51);
    }}