.booking {
    position: relative;
}

.section {
    height: calc(100vh - 100px - 100px );
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 400px;
    padding: 15px 30px;
    background-color: #ffffff;
    transition: .3s linear;
    border: 1px solid black;
}

.form:hover {
    box-shadow: 3px 3px 6px #858383b1
}

.title-main {
    position: relative;
    margin: 0;
    font-size: 2rem;
}

.content-form {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    margin-top: 10px;
}

.content-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px
}

.label {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 18px;
    max-width: 80%;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .3s;
}

.input:focus ~ .label {
    top: 0;
    left: 15px;
    background-color: #fff;
    padding: 0 5px;
    color: #0F1626;
    background-color: #ACFFB7;
}

.input:focus {
    border: 1px solid #ACFFB7;
}

.input.active-input:valid ~ .label {
    top: 0;
    left: 15px;
    background-color: #ACFFB7;
    padding: 0 5px;
}

.input-error {
    display: none;
}

.content-btn-booking {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 130px;
    width: 100%;
}

.btn-booking {
    width: 50%;
    height: 38px;
    padding: 10px;
    background-color: #ACFFB7;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid  #ACFFB7;
    font-weight: bold;
    transition: .3s linear;
    box-sizing: border-box;
    cursor: pointer;
}

.content-btn-user {
    display: flex;
    justify-content: center;
}

.btn-user {
    width: 30%;
}

.btn-booking:hover {
    
    /* box-shadow: 3px 3px 2px #00000052; */
    border: 1px solid #000;
}

.btn-booking a {
    color: #000;
    text-decoration: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
    .form {
        width: 80%;
    }

    .content-form {
        gap: 30px;
    }

    .content-input {
        width: 100%;
    }

    .content-btn-booking {
        justify-content: flex-end;
        gap: 30px;
    }

    .btn-booking {
        width: 80%;
    }

    .content-btn-user {
        justify-content: center;
    }

    .btn-user {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    .form {
        width: 80%;
    }

    .content-btn-booking {
        gap: 30px;
    }

    .btn-booking {
        width: 70%;
    }

    .content-btn-user {
        justify-content: center;
    }

    .btn-user {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
    .form {
        width: 80%;
    }

    .content-btn-booking {
        justify-content: flex-end;
        gap: 30px;
    }

    .btn-booking {
        width: 60%;
    }

    .content-btn-user {
        justify-content: center;
    }

    .btn-user {
        width: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 
    .form {
        width: 80%;
        padding: 20px;
        justify-content: space-between;
    }

    .content-form {
        gap: 40px;
    }

    .content-input {
        width: 60%;
    } 

    .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-btn-booking {
        justify-content: flex-end;
        gap: 40px;
    }

    .btn-booking {
        padding: 0;
        width: 80%;
        height: 40px;
    }

    .content-btn-user {
        justify-content: center;
    }

    .btn-user {
        width: 50%;
    }
}

  /* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) { 
    .title-main {
        margin-bottom: 10px;
        text-align: center;
    }

    .form {
        height: auto;
        padding: 10px;
        width: 60%;
    }

    .content-form {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .content-input {
        width: 100%;
    }

    .label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .content-btn-booking {
        gap: 10px;
    }

    .btn-booking {
        width: 65%;
        height: 50px;
        padding: 0;
    }

    .content-btn-user {
        justify-content: center;
    }

    .btn-user {
        width: 100%;
    }
}



















