.main {
    height: calc(100vh - 100px);
}

.report {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 87%;
    height: 80%;
    background-color: #fff;
}

.nav-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8%;
    height: 100%;
    background-color: #0F1626;
}

.item-nav-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    z-index: 100;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 20%;
}

.text-report {
    margin: 0;
}

.span {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20%;
    background-color: #def3ff;
    transition: .3s linear;
}

.icon-report-modific,
.text-report-modific {
    color: #000;
}

.icon-active {
    color: #fff;
}

.icon-inactive {
    color: #000;
}

.section-info {
    display: none;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mov-40 {
    top: 40%
}

.mov-60 {
    top: 60%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.calendar {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 20px;
    gap: 20px;
    width: 30%;
    height: 35px;
    height: auto;
}

.calendar-input {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

.calendar-input:focus {
    outline: none;
}

.container .section-info {
    height: 100%;
}

#seccion1,
#seccion2,
#seccion3 {
    width: 100%;
}

.section-report-modific {
    margin-right: 20px;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chart_div {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
}

.chart_div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.chart_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.chart_div:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#seccion1 .content-report {
    overflow-y: visible;
}

.content-report,
.content-ocupation,
.content-ingresos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

/* Scroll del contenedor del reporte*/
.content-report::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content-report::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.content-report:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Scroll del contenedor de la ocupacion*/
.content-ocupation::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content-ocupation::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.content-ocupation:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Scroll del contenedor de los ingresos*/
.content-ingresos::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content-ingresos::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.content-ingresos:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.section-report,
.section-ocupation,
.section-ingresos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.section-ocupation-modific,
.section-ingresos-modific {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
}
.table th {
    background-color: #f4f4f4;
    color: #333;
}
.table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.table tr:hover {
    background-color: #f1f1f1;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
    .nav-report {
        width: 15%;
        margin-right: 10px;
    }

    .container {
        margin-top: 80px;
    }

    .calendar {
        width: 100%;
        justify-content: flex-end 
    }

    .calendar-input {
        width: 40%;
    }

    #seccion1 .content-report {
        overflow-y: scroll;
    }

    .content-report,
    .content-ocupation,
    .content-ingresos {
        width: 80%;
        height: 70%;
        overflow-y: scroll;
    }

    .container .section-info {
        overflow-y: visible;
    }


    .section-ocupation,
    .section-ingresos {
        height: 100%;
    }

    .section-report,
    .section-ocupation,
    .section-ingresos {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    .nav-report {
        width: 18%;
        margin-right: 10px;
    }

    .calendar {
        width: 85%;
        justify-content: flex-end 
    }

    .calendar-input {
        width: 40%;
    }

    #seccion1 .content-report {
        overflow-y: scroll;
    }

    .section-report,
    .section-ocupation,
    .section-ingresos {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
    .nav-report {
        width: 20%;
        margin-right: 10px;
    }

    .item-nav-report {
        height: 15%;
    }

    .span {
        top: 27.5%;
        height: 15%;
    }

    .mov-mobile-33 {
        top: 42.5%
    }
    
    .mov-mobile-67 {
        top: 57.5%;
    }

    .calendar {
        width: 100%;
        justify-content: flex-end 
    }

    .calendar-input {
        width: 35%;
    }

    .container {
        width: 80%;
    }

    #seccion1 .content-report {
        overflow-y: scroll;
    }

    .section-report,
    .section-ocupation,
    .section-ingresos {
        width: 100%;
        height: 60%;
        margin: 0 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 
    .report {
        flex-direction: column;
    }

    .nav-report {
        flex-direction: row;
        width: 100%;
        height: 25%;
        margin-bottom: 20px;
    }

    .span {
        top: 0;
        left: 0;
        width: 33%;
        height: 100%;
    }

    .mov-mobile-33 {
        left: 34%
    }
    
    .mov-mobile-67 {
        left: 67%;
    }

    .item-nav-report {
        height: 100%;
    }

    .container {
        width: 100%;
    }

    .container .section-info {
        overflow-x: visible;
    }

    .calendar {
        flex-direction: column;
        width: 100%;
        top: 150px;
        left: 5px;
    }

    .calendar-input {
        width: 70%;
    }

    .content-report,
    .content-ocupation,
    .content-ingresos {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 300px;
    }

    .section-report,
    .section-info,
    .section-ocupation,
    .section-ingresos {
        width: 100%;
        height: auto;
        margin: 0;
        overflow-y: hidden;
        overflow-x: scroll;
    }
}

  /* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) { 
    .report {
        flex-direction: column;
    }

    .nav-report {
        flex-direction: row;
        width: 100%;
        height: 15%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .span {
        top: 0;
        left: 0;
        width: 33%;
        height: 100%;
    }

    .mov-mobile-33 {
        left: 34%
    }
    
    .mov-mobile-67 {
        left: 67%;
    }

    .item-nav-report {
        height: 100%;
    }

    .container {
        width: 100%;
    }

    .calendar {
        flex-direction: column;
        width: 80%;
        top: 110px;
        left: 10px;
    }

    .calendar-input {
        width: 100%;
    }

    .content-report,
    .content-ocupation,
    .content-ingresos {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 300px;
    }

    .section-report,
    .section-info,
    .section-ocupation,
    .section-ingresos {
        width: 100%;
        height: auto;
        margin: 0;
        overflow-y: hidden;
        overflow-x: scroll;
    }
}