.input:valid ~ .label {
    top: 0;
    left: 15px;
    background-color: #ACFFB7;
    padding: 0 5px;
}

.content-img .img {
    display: block;
}

.content-img .icon-file {
    display: none;
}

.btn-form a {
    color: #000;
    text-decoration: none;
}