.input:valid ~ .label {
    top: 0;
    left: 15px;
    background-color: #ACFFB7;
    padding: 0 5px;
}

.content-img .img {
    display: block;
}

.content-img .icon-file {
    display: none;
}

.btn-form a {
    color: #000;
    text-decoration: none;
}

.btn-form-rechazar {
    background-color: #FF4448;
    border: 1px solid #FF4448;
}

.content-comentario {
    display: none;
    transition: .7s;
}

.content-comentario.close {
    display: none;
}

.content-comentario.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .7s;
    background-color: #00000080;
}

.modal-comentario {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    height: 60%;
    text-align: center;
    box-shadow: 0 4px 8px #00000033;
}

.modal-comentario textarea {
    resize: none;
    width: 85%;
    height: 60%;
    background-color: #a5a5a533;
}

.btn-comentario {
    margin-top: 10px;
}

.icon-comentario {
    font-size: 35px;
    color: #FF4448;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 23px;
    width: 23px;
    height: 23px;
    color: #000;
    cursor: pointer;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
    .modal-comentario {
        width: 65%;
        height: 45%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    .modal-comentario {
        width: 80%;
        height: 45%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
    .modal-comentario {
        width: 70%;
        height: 45%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 
    .modal-comentario {
        width: 85%;
        height: 45%;
    }
}

/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) { 
    .main {
        height: calc(100vh - 100px - 100px);
    }
    .form {
        width: 90%;
    }

    .title-form {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    form {
        gap: 25px;
        overflow-y: scroll;
    }

    .content-form {
        flex-direction: column;
        gap: 25px;
    }

    .form-column {
        width: 100%;
    }

    .content-form {
        height: auto;
    }

    .content-img {
        width: 80%;
        height: 160px;
    }

    .label-file {
        top: 170px;
        width: 85%;
    }

    .Form4 .title-form,
    .Form5 .title-form {
        margin-top: 0;
    }

    .Form4 .title-form-modific,
    .Form5 .title-form-modific {
        margin-top: 45px;
    }

    .title-form7 {
        margin-top: 0;
    }

    .content-form-document .content-img .label-file {
        top: 165px;
    }

    .option-vehiculo {
        width: 60%;
    }

    .btn-form {
        width: 40%;
    }

    .step-row {
        background-color: #fff;
    }

    .step-col {
        /* width: 50%; */
        flex: 0 0 100%;
        position: absolute;
        width: 100%;
    }

    .step-col-2,
    .step-col-3,
    .step-col-4,
    .step-col-5,
    .step-col-6 {
        left: 288px;
    }

    /* Siguiente*/
    .step-col-1.active-negative,
    .step-col-2.active-negative,
    .step-col-3.active-negative,
    .step-col-4.active-negative,
    .step-col-5.active-negative,
    .step-col-6.active-negative {
        right: 288px;
    }

    .step-col-2.active-0,
    .step-col-3.active-0,
    .step-col-4.active-0,
    .step-col-5.active-0,
    .step-col-6.active-0 {
        left: 0px;
    }

    .progress {
        left: 0;
        width: 100%;
    }

    .progress.active-form1 {
        width: 100%;
    }
    
    .progress.active-form2 {
        width: 150%;
    }
    
    .progress.active-form3 {
        width: 200%;
    }
    
    .progress.active-form4 {
        width: 250%;
    }
    
    .progress.active-form5 {
        width: 300%;
    }
    
    .progress.active-form6 {
        width: 350%;
    }
    


    /* Atras */
    .step-col-1.active-0,
    .step-col-2.active-0,
    .step-col-3.active-0,
    .step-col-4.active-0,
    .step-col-5.active-0,
    .step-col-6.active-0 {
        left: 0;
    }

    .step-col-2.active-positive,
    .step-col-3.active-positive,
    .step-col-4.active-positive,
    .step-col-5.active-positive,
    .step-col-6.active-positive {
        right: 288px;
    }

    .modal-comentario {
        width: 90%;
        height: 45%;
    }
}