.main {
    height: auto;
    min-height: calc(100vh - 100px - 100px);
}

.info-see-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.parking-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center; 
    gap: 50px;
    width: 80%;
    height: auto;
    height: 600px;
    /* min-height: 500px; */
    margin: 20px 0;
    background-color: #fff;
    padding: 15px;
}

.parking-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex: 0 0 50px;
    height: 50px;
    cursor: pointer;
}

.parking-spot a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.items-see-space1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    height: 100%;
    padding: 5px;
}

.items-see {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.items-see::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.items-see::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.items-see:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.items-see-space2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    gap: 5px;
    width: 40%;
    height: 100%;
    padding: 5px;
}

.items-see-space2::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.items-see-space2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0004;
    visibility: hidden;
}

.items-see-space2:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.green {
    background-color: #ACFFB7;
    border: 1px solid #ACFFB7;
}

.red {
    background-color: #f72125;
    border: 1px solid #f72125
}

.icon-car {
    color: #2e2e2e;
}

.content-btn-parking {
    display: flex;
    gap: 10px;
}

.btn-parking {
    width: 70%;
    height: 55px;
    padding: 10px;
    background-color: #ACFFB7;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid  #ACFFB7;
    font-weight: bold;
    transition: .3s linear;
    box-sizing: border-box;
    cursor: pointer;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) { 
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) { 
    
}

  /* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) { 
    
}