.footer {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    background-color: #0F1626;
}

.section{
    background-color: white;
    height: calc(100vh - 100px - 100px );
    width: 75%;
}

.fotoPerfil {
    height: fit-content;
}

.main{
    background-color: DEF3FF;
}